
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercicio parte 4</title>
    <link rel="stylesheet" href="Ex07.css" />
  </head>
  <body>
    <header>
      <h1 style="color: white">Analisador de Numeros</h1>
    </header>

    <section>
      <div>
        <p>
          Email: <input type="" id="email" />
          <button id="button222" onclick="registernews()">Adicionar</button>
        </p>
      </div>
      <div id="res"> </div>
    </section>
    <footer>
      <p>&copy; Belmiro</p>
    </footer>
    <script src="index.js"></script>
  </body>
</html>
