
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercicio parte 4</title>
    <link rel="stylesheet" href="Ex07.css" />
  </head>
  <body>
    <header>
      <h1 style="color: white">Analisador de Numeros</h1>
    </header>

    <section>
      <div>
        <p>
          Número (entre 1 e 100): <input type="number" id="numeros" />
          <button id="button222" onclick="addnumber()">Adicionar</button>
        </p>
      </div>

      <div>
        <select  size="10" name="Tabuada" id="tab" value="Gerar Tabuada">
          Digite um Numero acima
        </select>
        <button id="button223">Finalizar</button>
        
        <div id="result"></div>
      </div>
    </section>
    <footer>
      <p>&copy; Belmiro</p>
    </footer>
    <script src="ex07.js"></script>
  </body>
</html>
